body {
  padding-top: 56px;
}

.header1 {
  background-image: url("../images/daiga-ellaby-699140-unsplash.jpg");
  background-position: center;
  background-repeat: none;
  background-attachment: fixed;
}
.socials {
  font-size: 30px;
}

.navbar-brand {
  height: 40px;
  width: 40px;
}
