body {
  padding-top: 56px;
}

.header1 {
  background-image: url("../images/heather-ford-1270604-unsplash.jpg");
  background-position: bottom;
  background-repeat: none;
  background-attachment: absolute;
}
.socials {
  font-size: 30px;
}

.navbar-brand {
  height: 40px;
  width: 40px;
  padding-bottom: 5px;
}
